node_modules
*.js

# docs
!docs/jsdoc/templates/**/*.js
!docs/lib/**/*.js
docs/source

*.map
dist/
.idea/
coverage/

# emacs backup files
*~
.DS_Store

.vscode/
*.tsbuildinfo
test-report.html

# yarn files

.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log
