on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Install dependencies (apt)
        run: |
          sudo apt-get update && \
          sudo apt-get install -y --no-install-recommends \
          texlive texlive-fonts-extra texlive-lang-cjk latexmk latex-cjk-all
      # Has to be run before actions/setup-node.
      # See: https://github.com/actions/setup-node/issues/480
      - name: Enable corepack for Yarn
        run: corepack enable
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: yarn
      - name: Install yarn dependencies
        run: yarn install --immutable
      - name: Build
        run: |
          yarn run jsdoc prepare
          find docs/source -name .gitignore -delete -print
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.DOCS_DEPLOY_SSH_KEY }}
          publish_dir: docs/source
          external_repository: source-academy/docs.sourceacademy.org
          publish_branch: master
          force_orphan: true
          cname: docs.sourceacademy.org
